<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
    	.greyed-out {
    		filter: grayscale(100%);
    	}
        .controlset {
            padding-top: 50px;
        }
    </style>
</head>
    <body>
    <h3>{{.Title}}</h3>

    <div id="message">{{printf "%s" .Message}}</div>

    <img id="gunter" class="greyed-out" width="200px" src="static/cosmic_gunter.png"/>

    <!-- brightness slider -->
    <div class="controlset">
        <input id="brightInput" type="range" min="0" max="100">
        <span id="brightVal">???</span>% brightness
    </div>

    <!-- show selection -->
    <div class="controlset">
        Current Show:
        <select id="showList" name="Show">
        </select>
    </div>

    <!-- optional color picker -->
    <div class="controlset">
        Color (show specific):<br>
        <input id = "colorPicker" type="color" class="jscolor">
    </div>

    <script type="text/javascript" src="static/jscolor.min.js"></script>
    <script type="text/javascript" src="static/index.js"></script>
</body>
</html>